html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background: #121212;
  color: #ccc;
}

body {
  display: flex;
  flex-direction: column;
}

.template {
  display: none;
}

.page-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

main {
  flex: 1; /* fill available space between header and footer */
  padding: 0rem;
  overflow-y: auto;
}

/* GLOBAL: WebKit scrollbar style */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
