/* Container */
.terminal-container {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 12px;
  color: #eee;
  background: black;
  max-width: 95%;
  height: 93%;
  overflow-y: auto;
  overflow-x: auto;
  font-size: large;
}
