<img class="header-logo" src="./static/images/logo.png" />
<nav>
  <div class="nav-menu-dev">
    <a href="/">Home</a>
    <select id="current-project-combo" class="project-combo"></select>
  </div>
  <div class="nav-menu-dev">
    <a href="/project">Project</a>
    <a href="/models">Models</a>
  </div>
  <div class="nav-menu-test">
    <div class="nav-submenu-control">
      <select id="launcher-profile-combo" class="launcher-combo"></select>
      <a class="launcher-control"><span class="icon-play">▶</span></a>
      <a class="launcher-control"><span class="icon-restart">↻</span></a>
      <a class="launcher-control-dots">
        <span class="launcher-dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
      </a>
    </div>
    <div class="nav-submenu-pages">
      <a href="/remote-control">Remote Control</a>
      <a href="/telemetry">Telemetry</a>
      <a href="/terminal">Terminal</a>
    </div>
  </div>
  <a href="/help">Help</a>
</nav>
<div class="header-right"><!-- optional --></div>
