.joystickRow {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 95vw;
  max-width: 95%;
  z-index: 1000;
}

.stickArea {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(161, 161, 161, 0.25);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.knob {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

.toggleButton {
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1em;
  transition: background 0.2s;
}

.toggleButtonActive {
  background: rgb(80, 216, 80);
  color: #ffffff;
}

.toggleButtonInactive {
  background: silver;
  color: #ffffff;
}

@media (max-width: 480px) {
  .joystickRow {
    flex-direction: column;
    align-items: center;
    bottom: 8.5rem;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .joystickRow {
    bottom: 5rem;
  }
  .controls {
    bottom: 0.5rem;
  }
}
