.body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.error {
  color: #ff8080;
  padding: 6px 10px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pre {
  padding: 8px 10px;
  margin: 0;
  white-space: pre;
  overflow: auto;
  flex: 1;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}
