.projectContainer {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 12px;
  color: #eee;
  max-width: 40%;
  overflow-x: auto;
}

.projectTable {
  display: table;
  width: 100%;
  color: #ddd;
  font-family: sans-serif;
  border-collapse: collapse;
}

.row {
  display: table-row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.key,
.value {
  display: table-cell;
  padding: 8px 12px;
  vertical-align: top;
}

.key {
  font-weight: bold;
  width: 160px;
  white-space: nowrap;
}

.textInput {
  width: 100%;
  background: #1a1f2c;
  color: #eee;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 18px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.arrayInputWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.addItemButton {
  font-size: 18px;
  padding: 4px 8px;
  background: #27273d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.removeButton {
  font-size: 18px;
  height: 30px;
  width: 30px;
  background: #662222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryButton {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
  background: #44aa66;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButtonWrapper {
  display: flex;
  justify-content: left;
  margin-bottom: 24px;
}

.saveButton {
  font-size: 14px;
  padding: 8px 14px;
  margin: 20px 0;
  color: white;
  background: #0c93e1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.objectItemWrapper {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 10px;
}

.objectLabel {
  display: block;
  margin-bottom: 4px;
}

.objectLabel input {
  width: 100%;
  margin-top: 2px;
  background: #1a1f2c;
  color: #eee;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 4px 6px;
}
